{{!-- HTML code to provide users access to their account and to create a new post --}}
<nav>
      <a href="/">home</a>
      <a href="/login">login</a>
      <a href="/signup">signup</a>
    </nav>
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
